*{
  margin: 0;
  padding: 0;
}
.table-container{
  /* background-color: red; */
  width: 100vw;
  height: 100vh;
  display: flex;
}

table{
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

td{
  padding: 5px;
}

.details_container:hover{
  background-color: rgb(191, 196, 191);
}

  th {
  text-align: center;
  padding: 8px;
  color: aliceblue;
  background-color: black;

  }
